<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960069529953-e5hnus7qd2lb6heauo7lqt35i239ouk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960069529953-e5hnus7qd2lb6heauo7lqt35i239ouk9</string>
	<key>API_KEY</key>
	<string>AIzaSyCmc397gOohV54ozWKISLr-aURUBu1q4LM</string>
	<key>GCM_SENDER_ID</key>
	<string>960069529953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeapp</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-1b0e7</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-1b0e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960069529953:ios:113189cbaf7ecaa23f9520</string>
</dict>
</plist>